{% set notConnected = true %}
{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="container notConnected">
		<div class="row justify-content-center mt-5">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card shadow">
					<div class="card-title text-center border-bottom">
						<img src="{{ asset('img/logo.png') }}" alt="" width="100px" height="100px">
						<h2 class="p-3">SNOW TRICKS</h2>
					</div>
					<div class="card-body">
						{{ form_start(requestForm) }}
						{{ form_row(requestForm.email) }}
						<div>
							<small>
								Enter your email address, and we will send you a
																			                link to reset your password.
							</small>
						</div>
						<div class="d-grid">
							<button class="btn text-light main-bg">Send password reset email</button>
						</div>

					{{ form_end(requestForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
