<!-- Start Header Area -->
<header class="default-header">
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container">
			<a class="navbar-brand" href="{{path('home')}}">
				<img src="{{ asset('img/logo.png') }}" alt="" width="100px" height="100px">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li>
						<a href="{{path('home')}}">Home</a>
					</li>
					<li>
						<a href="{{path('app_trick_index')}}">Tricks</a>
					</li>
					{% if app.user is not empty %}
					<div class='d-flex flex-column'>
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseLogout" aria-expanded="false" aria-controls="collapseExample">
                     Bonjour {{ app.user.username }}
                    </button>
					<div class="card card-body">
					<div class="collapse" id="collapseLogout">
						<a href="{{path('app_logout')}}">Logout</a>
					</div>
					</div>
					</div>
					{% else %}
					<li>
						<a href="{{path('app_login')}}">Login</a>
					</li>

					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- End Header Area -->
