{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
<div class="container">
<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
{% for trick in tricks %}
  {% if loop.index > 6 %}
            <div class="trick d-none">
            {% else %}
            <div class="trick">
            {% endif %}
    <div class="card">
    <a href="{{path('app_trick_show',{id : trick.id, slug: trick.slug} )}}">
    {% if trick.images is not empty %}
    <img class="card-img-top" src="{{ asset('uploads/trick/'~trick.images.0.fileName)}}" width="350px" height="300px">
    {% else %}
    <img class="card-img-top" src="{{ asset('img/logo.png')}}" width="350px" height="300px">
    {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{trick.name}}</h5>
        <p class="card-text">{{trick.description[:20]}} ...</p>
	  </div>
    </a>
	  <div class="card-footer">
					<a href="{{path('app_trick_edit',{id : trick.id} )}}" class="card--button">
						<span class="lnr lnr-pencil"></span>
					</a>
					<a href="#" class="card--button">
						<span class="lnr lnr-trash"></span>
					</a>
				</div>
    </div>
  </div>
  {% endfor %}

</div>
	<button id="loadMore">Load More</button>
    <a href="{{ path('app_trick_new') }}">Create new</a>
</div>
{% endblock %}
