{% extends 'base.html.twig' %}
{% block body %}
	<!-- Start top-section Area -->
	<section class="top-section-area section-gap">
		<div class="container">
			<div class="row justify-content-between align-items-center d-flex">
				<div class="col-lg-8 top-left">
					<h1 class="text-white mb-20">Post Details</h1>
					<ul>
						<li>
							<a href="index.html">Home</a>
							<span class="lnr lnr-arrow-right"></span>
						</li>
						<li>
							<a href="category.html">Category</a>
							<span class="lnr lnr-arrow-right"></span>
						</li>
						<li>
							<a href="single.html">{{ trick.category }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- End top-section Area -->


	<!-- Start post Area -->
	<div
		class="post-wrapper pt-100">
		<!-- Start post Area -->
		<section class="post-area">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="single-page-post">
							<div class="top-wrapper ">
								<div class="row d-flex justify-content-between">
									<h2 class="col-lg-8 col-md-12 text-uppercase">
										{{ trick.name }}
									</h2>

									<div class="vrmedia-gallery">
										<ul class="trick-gallery">


											{% for image in trick.images %}
												<li data-fancybox="gallery" data-src="{{ asset('uploads/trick/'~image.filename)}}" data-thumb="{{ asset('uploads/trick/'~image.filename)}}">
													<img width="100" src="{{ asset('uploads/trick/'~image.filename)}}"/>
												</li>

											{% endfor %}
											{% for video in trick.videos %}
												<li data-fancybox="gallery" data-src="/img/video.jpg" data-thumb="/img/video.jpg">
												{# <iframe width="560" height="315" src="https://www.youtube.com/embed/mBB7CznvSPQ?si=_UkmbTG5R0SK2pph" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> #}
											    {{ video.link|raw }}
                                                </li>
											{% endfor %}

										</ul>
									</div>

								</div>
							</div>
							<div class="single-post-content">
								<p>
									{{ trick.description }}
								</p>
							</div>
							<div class="bottom-wrapper">
								<div class="social-media-comments">
									<div class="col-lg-4 single-b-wrap col-md-12">
										<i class="fa fa-comment-o" aria-hidden="true"></i>
										{{trick.comments|length}} comments
									</div>
								</div>
							</div>

							<!-- Start comment-sec Area -->
							<section class="comment-sec-area pb-80">
								<div class="container">
									<div class="comment-list">
                                    {% for comment in trick.comments %}
											<div class="single-comment justify-content-between d-flex bg-light mb-2 p-2">
												<div class="user justify-content-between d-flex">
													<div class="thumb">
														<img src="uploads/avatar/{{comment.user.avatarFilename}}" alt="">
													</div>
													<div class="desc">
														<h5>
															<a href="#">{{comment.user.username}}</a>
														</h5>
														<p class="date">{{comment.createdAt}}
														</p>
														<p class="comment">
															{{comment.comment}}
														</p>
													</div>
												</div>
											</div>
                                            {% endfor %}
										</div>
								</div>
							</section>
							<!-- End comment-sec Area -->

							<!-- Start commentform Area -->
							<section class="commentform-area  pb-120 pt-80 mb-100">
								<div class="container">
									<h5 class="text-uppercas pb-50">Leave a Comment</h5>
									<div class="row flex-row d-flex">
										<div class="col-lg-6">
                                        {{ form_start(form) }}
                                        {{form_row(form.comment)}}
                                        <div class='flex align-items-center'>
                                        <button class="addComment primary-btn mr-10">{{ button_label|default('Leave a comment') }}</button>
                                        <div class="loader spinner-border text-primary d-none" role="status">
                                          <span class="sr-only">Loading...</span>
                                        </div>
                                        </div>
										{{form_end(form)}}
                                        </div>
									</div>
								</div>
							</section>
							<!-- End commentform Area -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End post Area -->
	</div>
	<!-- End post Area -->
{% endblock %}
